* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100%;
}

.contact-body {
  background-color: white;
  position: absolute;
  top: 160px;
  width: 99%;
  left: 0.5%;
  border-radius: 20px;
  height: 500px;
}
.contact-context-body {
  position: absolute;
  top: 90px;
  width: 70%;
  color: white;
  height: 350px;
  border-radius: 5px;
  border-top: 2px solid #242324;
  border-left: 2px solid #242324;
  border-right: 2px solid #242324;
  border-bottom: 2px solid #242324;
  left: 15%;
  background-image: linear-gradient(
    to right,
    white 0%,
    white 60%,
    #242324,
    60%,
    #242324 100%
  );
  box-shadow: 1px 1px 1px 1px  #242324;
}
.connect-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 70%;
}
.contact-input-username {
  position: absolute;
  top: 100px;
  left: 4%;
  outline: none;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  box-shadow: 1px 1px 1px 1px gray;
}
.contact-input-email {
  position: absolute;
  top: 100px;
  left: 32%;
  outline: none;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  box-shadow: 1px 1px 1px 1px gray;

}
.contact-input-phone {
  position: absolute;
  top: 170px;
  left: 4%;
  outline: none;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  box-shadow: 1px 1px 1px 1px gray;
}
.contact-input-subject {
  position: absolute;
  top: 170px;
  left: 32%;
  outline: none;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  box-shadow: 1px 1px 1px 1px gray;
}
.contact-input-your-message {
  position: absolute;
  top: 230px;
  outline: none;
  width: 400px;
  left: 4%;
  height: 90px;
  border-radius: 10px;
  text-align: center;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  box-shadow: 1px 1px 1px 1px gray;
}
.send-your-request {
  position: absolute;
  color:gray;
  font-size: 25px;
  position: absolute;
  top: 20px;
  left: 14%;
}
.connect-btn {
  width: 150px;
  height: 60px;
  border-radius: 5px;
  color: white;
  box-shadow: 1px 1px 1px 1px white;
  background-image: linear-gradient(
    to right,
    #3e3d3e 0%,
    #3e3d3e 50%,
     #242324 50%,
     #242324 100%
  );
  position: absolute;
  top: 250px;
  left: 44%;
}
.we-would-respond {
  position: absolute;
  width: 33%;
  left: 64%;
  font-size: 15px;
  color: white;
  top: 140px;
}
