.details-card{
    position: absolute;
    top: 170px;
    background-color: #242424;
    width: 28%;
    height: 230px;
    border-radius: 10px;
    left: 3%;

}
.profile-card{
    position: absolute;
    top: 170px;
    background-color: #242424;
    width: 28%;
    height: 230px;
    border-radius: 10px;
    left: 65%;

}
.profile-details{
    position: relative;
    top: 0px;
    color: white;
    padding: 10px;
}
.details{
    position: relative;
    top: 0px;
    color: white;
    padding: 10px;
}
.profile-tag{
    position: absolute;
    margin-top: 10px;
    margin-left: 3%; 
}
.total-savings{
    position: absolute;
    margin-top: 10px;
    margin-left: 3%;
}
.users-accountnumber{
    position: absolute;
    margin-top: 50px ;
    margin-left: 3%
}
.users-balance{
    position:absolute ;
    top: 100px;
    margin-left: 3%;
    font-size: 25px
}
.users-name{
    position: absolute;
    top: 160px;
    margin-left: 3%;
    font-size: 16px;
}
.card-box{
    position: absolute;
    top: 450px;
}
.card{
    width: 230px;
    height: 200px;
    position: absolute;
    margin-left: 8%;
    color: white;
    background-color: #242424;
}
.card-title{
    text-align: center;
    
}
.fund-png{
    margin-top: 10px;
    width: 130px;
    height: 130px;
    margin-left: 20%;
}

.withdraw-png{
    margin-top: 10px;
    width: 130px;
    height: 130px;
    margin-left: 20%;
}
.save-png{
    margin-top: 10px;
    width: 130px;
    height: 130px;
    margin-left: 20%;
}
.transaction-png{
    margin-top: 10px;
    width: 130px;
    height: 130px;
    margin-left: 20%;
}
.card-loan{
    text-decoration: none;
    color: white;
}
.card-loan:hover{
    color: white;
}
.card-trans{
    text-decoration: none;
    color: white;
}
.card-trans:hover{
    color: white;
}