* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

body {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sign-up {
  position: absolute;
  top: 160px;
  width: 100%;
  height: 500px;
  background-color: white;
}
.signup-tag {
  color: gray;
  position: absolute;
  left: 24%;
  top: 30px;
}
.design-signup {
  width: 70%;
  height: 400px;
  position: absolute;
  top: 60px;
  left: 15%;
  background-image: linear-gradient(
    to right,
    white 0%,
    white 60%,
    #242324 60%,
    #242324 100%
  );
  border-top: 2px solid #242324;
  border-left: 2px solid #242324;
  border-right: 2px solid #242324;
  border-bottom: 2px solid #242324;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
}
.username {
  position: absolute;
  border-radius: 10px;
  text-align: center;
  top: 100px;
  left: 5%;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  box-shadow: 1px 1px 1px 1px gray;
  outline: none;
  width: 250px;
  height: 40px;
}
.phonenumber {
  position: absolute;
  top: 170px;
  left: 16%;
  outline: none;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  box-shadow: 1px 1px 1px 1px gray;
}
.email {
  position: absolute;
  top: 100px;
  left: 31%;
  outline: none;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  box-shadow: 1px 1px 1px 1px gray;
}
.password {
  position: absolute;
  top: 240px;
  left: 5%;
  outline: none;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  box-shadow: 1px 1px 1px 1px gray;
}
.confirm-password {
  position: absolute;
  top: 240px;
  left: 31%;
  outline: none;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  box-shadow: 1px 1px 1px 1px gray;
}
.signup-btn {
  width: 150px;
  position: absolute;
  background-color: gray;
  top: 330px;
  left: 23%;
  box-shadow: 1px 1px 1px 1px gray;
}
.signup-btn :hover{
    background-color: gray;
}

.accept {
  font-size: 13px;
  position: absolute;
  top: 25px;
  left: 28%;
}
.already-con {
  position: absolute;
  left: 69%;
  top: 10px;
}
.already-have {
  color: white;
  position: absolute;
  top: 30px;
  font-size: 20px;
}
.login-in-route {
  position: absolute;
  top: 200px;
  width: 100px;
  color: white;
  height: 50px;
  left: 5%;
  background-image: linear-gradient(
    to right,
    #3e3d3e 0%,
    #3e3d3e 50%,
    #242324 50%,
    #242324 100%
  );
}
.check-box-input {
  position: absolute;
  top: 270px;
  left: 0%;
}
.accept-terms-check-box {
  position: absolute;
  top: 30px;
  left: -24%;
}
.kindly-signin {
  color: white;
  position: absolute;
  top: 120px;
  left: 5%;
}
