* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }
  body {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
  }

.header{
    background-color:    #242324;
    width: 100%;
    height: 150px;
}
.header-title-name{
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 45px;
    margin-left: 10%;
}
.logo{
    width: 100px;
    height: 160px;
    position: absolute;
    margin-top: -10px;
    margin-left: 3%;
}
.dropdown-design{
    width: 40px;
}
.nav-ul{
    list-style: none;
    position: absolute;
    width: 40%;
    left: 50%;
    top: 50px;
    display: flex;
}
.nav-ul li{
    padding: 0.8rem;
    margin: 2px 0;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
}
.nav-ul a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
