.table{
    position: absolute;
    top: 250px;
    width: 90%;
    margin-left: 5%;
    padding: 20px;
}

.users-tdhead{
    background-color: #242424;
    color: white;
  }
  .users-tbody{
    background-color: gray;
    color: white;
  }